@font-face {
    font-family: f1; /* ?? ????*/
    src: url(3953.ttf); /* ?? ????? ???? */
}
@font-face {
    font-family: f2; /* ?? ????*/
    src: url(3966.ttf); /* ?? ????? ???? */
}


body {
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: white;
    height: 78px;
}
.navbar ul li:first-child a {
    color: #1aa58d;;
}
.navbar ul li a {
    font-family: f1;
    opacity: 0.6;
}
.navbar-brand {
    margin: 0px 0 0 220px!important;
}
.navbar-brand img {
    width: 280px;
}
.jumbotron {
    margin-top: -20px;
    background-image: url('image 1.jpg');
    background-size: cover;
    height: 450px;
    padding-top: 100px;
}
.jumbotron h2 {
    color: rgb(239, 239, 239);
    font-family: f2;
    font-size: 33px;
}
.blue-line {
    border: 1px solid #2ad7e6;
    width: 40px;
    margin-bottom: 19px;
    margin-top: 14px;
}
.jumbotron p {
    color: rgb(239, 239, 239);
    width: 65%;
    font-family: f2;
    font-size: 15px;
    margin-bottom: 45px;
    opacity: 0.8;
}
.navbar-right {
    margin: 10px 180px 0 0;
}

.form-input-field {
    width: 350px!important;
    margin-bottom: 15px;
}
.form-input-field-textarea{
    width: 350px!important;
    height: 150px!important;
}
.btn-order {
    background: rgba(0,0,0,0);
    border: 2px solid #2ad7e6;
    color: #2ad7e6;
    width: 160px;
    height: 55px;
    padding-top: 13px;
    border-radius: 2px;
}
.btn-order:hover {
    border: 2px solid #71dde6;
    color: #71dde6;
    cursor: pointer;
    background: rgba(0,0,0,0);
}

.div-uslugi h3{
    font-family: f2;
    opacity: 0.9;
    margin-bottom: 2px;
}
.div-uslugi p {
    opacity: 0.4;
    font-family: f1;
    font-size: 13px;
    margin-top: 0px;
}
.gray-line{
    border: 1px solid #c9c9cc;
    width: 40px;
    margin-bottom: 19px;
    margin-top: 14px;
}

.content .thumbnail {
    border: 1px solid rgba(255, 255, 255, 0);
}
.content .thumbnail img {
    margin-bottom: 15px;
}
.content .thumbnail center b {
    margin-top: 15px;
    font-family: f1;
    color: black;
    opacity: 0.6;
}
.content .thumbnail center p {
    margin-top: 10px;
    font-family: f2;
    color: black;
    opacity: 0.4;
}

.blue-line-wide {
    border: 1px solid #2ad7e6;
    width: 180px;
    margin-bottom: 19px;
    margin-top: 14px;
}
.form {
    padding-left: 20px;
}
.form p{
    font-family: f2;
    font-size: 24px;
    opacity: 0.9;
    margin-bottom: 20px;
}
.form input {
    border-radius: 1px;
    border: 2px solid #d8d8d8;
    opacity: 0.6;
    width: 380px!important;
    height: 40px;
}
.form textarea {
    border-radius: 1px;
    border: 2px solid #d8d8d8;
    opacity: 0.6;
    width: 380px!important;
}
.form button {
    margin-top: 20px;
    border: 2px solid #2ad7e6;
    color: #2ad7e6;
    border-radius: 1px;
    width: 130px;
    height: 40px;
    font-family: f2;
    padding-top: 10px;
}
.form button:hover {
    border: 2px solid #58f2ff;
    color: #58f2ff;
    background: transparent;
}
.our-clients {
}
.our-clients p {
    font-family: f2;
    font-size: 24px;
    opacity: 0.9;
    margin-bottom: 35px;
}
.clients-img-1 {
    width: 120px;
}
.clients-img-2 {
    margin-left: 70px;
    width: 163px;
}
.clients-img-3 {
    width: 220px;
    margin: 46px 0 0 85px;
}
.clients-img-4 {
    width: 180px;
    margin-top: 4px;
}
.clients-img-5 {
    width: 130px;
    margin-left: 41px;
}
.echology-logo {
    width: 410px;
    margin-top: 65px;
    margin-bottom: 25px;
}
.footer {
    color: white;
    background: url('image 2.jpg');
    background-size: contain;
    height: 232px;
}
.footer .col-md-3:first-child{
    opacity: 0.7;
    padding-top: 32px!important;
    line-height: 29px;
}
.footer .col-md-4{
    opacity: 0.7;
    padding-top: 32px!important;
    line-height: 29px;
}
.footer .col-md-4 .footer-addr img {
    width: 25px;
}
.footer .col-md-4 .footer-addr p {
    width: 280px;
    display: inline-flex;
    margin-left: 7px;
}
.footer .col-md-4 .footer-phone img {
    width: 33px;
    margin-top: -8px;
}
.footer .col-md-4 .footer-phone p {
    width: 280px;
    display: inline-flex;
    margin-left: 0px;
    font-size: 22px;
    font-family: f2;
}


























