body {
    margin: 0;
    padding: 0;
}

.form-input-field {
    width: 350px!important;
    margin-bottom: 15px;
}
.form-input-field-textarea{
    width: 350px!important;
    height: 150px!important;
}
.form-btn-submit {
    margin-top: 15px;
    border: 2px solid #1aa58d;
    color: #1aa58d;
}
.btn-order {
    background: rgba(0,0,0,0);
    border: 2px solid #2ad7e6;
    color: #2ad7e6;
}

