@font-face {
    font-family: f1; /* ?? ????*/
    src: url('../fonts/3953.ttf'); /* ?? ????? ???? */
}
@font-face {
    font-family: f2; /* ?? ????*/
    src: url('../fonts/3966.ttf'); /* ?? ????? ???? */
}


body {
    margin: 0;
    padding: 0;
    max-width: 1366px;
    margin: 0 auto;
}
.navbar-nav-grid {
    display: none;
}
.navbar {
    background-color: white;
    height: 78px;
}
.navbar ul li:first-child a {
    color: #1aa58d;;
}
.navbar ul li a {
    font-family: f1;
    opacity: 0.6;
}
.navbar-brand {
    margin: 0px 0 0 220px!important;
}
.navbar-brand img {
    width: 280px;
}
.jumbotron {
    margin-top: -20px;
    background-image: url('../imgs/image 1.jpg');
    background-size: cover;
    height: 450px;
    padding-top: 46px;
}
.jumbotron h2 {
    font-family: f2;
    font-size: 26px;
    color: #05bfca;
    opacity: 0.9;
}
.jumbotron h3 {
    color: rgba(239, 239, 239, 0.91);
    font-family: f2;
    font-size: 25px;
    width: 636px;
    line-height: 32px;
    margin-bottom: 33px;
}
.blue-line {
    border: 1px solid #2ad7e6;
    width: 40px;
    margin-bottom: 32px;
    margin-top: 14px;
}
.jumbotron p {
    color: rgb(239, 239, 239);
    width: 65%;
    font-family: f2;
    font-size: 15px;
    margin-bottom: 45px;
    opacity: 0.8;
}
.navbar-right {
    margin: 10px 180px 0 0;
}

.form-input-field {
    width: 350px!important;
    margin-bottom: 15px;
}
.form-input-field-textarea{
    width: 350px!important;
    height: 150px!important;
}
.btn-order {
    background: rgba(0,0,0,0);
    border: 2px solid #2ad7e6;
    color: #2ad7e6;
    width: 160px;
    height: 55px;
    padding-top: 13px;
    border-radius: 2px;
}
.btn-order:hover {
    border: 2px solid #71dde6;
    color: #71dde6;
    cursor: pointer;
    background: rgba(0,0,0,0);
}

.div-uslugi h3{
    font-family: f2;
    opacity: 0.9;
    margin-bottom: 2px;
    margin-top: 33px;
}

.gray-line{
    border: 1px solid #c9c9cc;
    width: 40px;
    margin-bottom: 35px;
    margin-top: 24px;
}

.content .thumbnail {
    border: 1px solid rgba(255, 255, 255, 0);
}
.content .thumbnail:hover{
    border: 1px solid transparent;
    text-decoration: none;
}
.content .thumbnail img {
    margin-bottom: 15px;
}
.content .thumbnail center b {
    margin-top: 15px;
    font-family: f1;
    color: black;
    opacity: 0.9;
}
.content .thumbnail center p {
    margin-top: 10px;
    font-family: f2;
    color: black;
    opacity: 0.4;
}

.blue-line-wide {
    border: 1px solid #2ad7e6;
    width: 180px;
    margin-bottom: 61px;
    margin-top: 27px;
}
.form {
    padding-left: 20px;
}
.form-error {
    color: #e32d2d;
    font-style: italic;
    margin-bottom: 15px;
    display: none;
}
.form-success {
    color: #0ea525;
    font-style: italic;
    margin-bottom: 15px;
    display: none;
}
.form p{
    font-family: f2;
    font-size: 24px;
    opacity: 0.9;
    margin-bottom: 30px;
}
.form input {
    border-radius: 1px;
    border: 2px solid #d8d8d8;
    opacity: 0.6;
    width: 380px!important;
    height: 40px;
}
.form textarea {
    border-radius: 1px;
    border: 2px solid #d8d8d8;
    opacity: 0.6;
    width: 380px!important;
}
.form button {
    margin-top: 20px;
    border: 2px solid #2ad7e6;
    color: #2ad7e6;
    border-radius: 1px;
    width: 130px;
    height: 40px;
    font-family: f2;
    padding-top: 10px;
}
.form button:hover {
    border: 2px solid #58f2ff;
    color: #58f2ff;
    background: transparent;
}
.our-clients {
}
.our-clients p {
    font-family: f2;
    font-size: 24px;
    opacity: 0.9;
    margin-bottom: 35px;
}
.clients-img-1 {
    width: 120px;
}
.clients-img-2 {
    margin-left: 70px;
    width: 163px;
}
.clients-img-3 {
    width: 220px;
    margin: 46px 0 0 85px;
}
.clients-img-4 {
    width: 180px;
    margin-top: 4px;
}
.clients-img-5 {
    width: 130px;
    margin-left: 41px;
}
.echology-logo {
    width: 410px;
    margin-top: 65px;
    margin-bottom: 25px;
}
.footer {
    color: white;
    background: url('../imgs/image 2.jpg');
    background-size: contain;
    height: 228px;
}
.footer .col-md-6 {
    padding: 26px 0 0 40px;
}
.footer .footer-info:first-child img {
    width: 25px;
    margin-right: 17px;
}
.footer .footer-info {
    margin-bottom: 10px;
}
.footer .footer-info img {
    width: 30px;
    margin-right: 12px;
}
.footer .footer-info p {
    display: inline-block;
    font-size: 16px;
    font-family: f2;
    opacity: 0.6;
}
.footer .phone p {
    font-size: 22px;
}




@media(max-width: 1129px) {
    .navbar-right {
        display: block;
        position: absolute;
        top: 60px;
        left: 50%;
        margin-left: -178px;
    }
    .jumbotron {
        margin-top: 50px;
    }
    .navbar {
        border: 1px solid transparent;
    }
    .navbar-brand {
        position: absolute;
        left: 50%;
        margin-left: -160px!important;
    }

}
@media(max-width: 767px) {
    .jumbotron h3 {
        width: 90%;
    }
    .navbar-nav-grid {
        display: grid;
        text-align: center;
        list-style: none;
        padding: 0;
    }
    .navbar-nav-grid ul { 
        list-style: none;
        padding: 0;
    }
    .navbar-nav-grid li {
        margin-top: 10px;   
    }
    .navbar-nav-grid li:first-child a {
        color: #1aa58d; 
    }
    .navbar-nav-grid a {
        font-family: f1;
        opacity: 0.6;
        color: #777;
        text-decoration: none;
    }
}
@media(max-width: 594px) {
    .jumbotron {
        height: 600px;
    }
}

@media(max-width: 476px) {
    .form input {
        width: 100%!important;
    }
    .form textarea {
        width: 100%!important;
    }
}

@media(max-width: 1207px) {
    .clients-img {
        margin: 13px auto;
        display: block;
    }
}

@media(max-width: 991px) {
    .our-clients p {
        display: block;
        text-align: center;
        margin-top: 50px;
    }
    .clients-img {
        display: inline-block;
        margin-right: 11px;
    }
    #subject {
        margin-top: -95px;
    }
    .content .col-md-offset-2 {
        padding-left: 0!important;
    }
    .content .col-md-offset-3 {
        padding-left: 0!important;
    }

}

@media(max-width: 1184px) {
    .our-clients {
        text-align: center;
    }
}

@media(max-width: 859px) {
    #subject {
        margin-top: 0px;
    }
}
@media(max-width: 555px) {
    .clients-img {
        margin: 26px auto;
        display: block;
    }
    .echology-logo {
        width: 90%;
    }
    .form {
        padding-left: 0;
    }
}
@media(max-width: 1259px) {
    .footer {
        height: 211px;
    }
}
@media(max-width: 1330px) {
    .footer {
        height: 218px;
    }
}
@media(max-width: 1186px) {
    .footer {
        height: 198px;
    }
}


@media(max-width: 1024px) {
    .footer {
        height: 173px; 
    }
}

@media(max-width: 960px) {
    .footer {
        height: 160px;
    }
}
@media(max-width: 862px) {
    .footer {
        height: 215px;
        background: #6360a6;
    }
} 
@media(max-width: 482px) {
    .footer .col-md-6 {
        padding: 0;
        padding-top: 30px;
    }
    .footer-info p { 
        font-size: 14px;
    }
    .footer-info  { 
        margin-left: -24px;
    }
} 

@media(max-width: 440px) {
    .jumbotron {
        background-position-x: -150px;
    }

}
@media(max-width: 400px) {
    .jumbotron {
        background-position-x: -250px;
    }

}

@media(max-width: 403px)  {
    .footer .footer-info p:last-child {
        font-size: 13px;
    }
}











